<div class="row">
  <div class="col-md-8 col-sm-offset-2">
  </div>
  <div class="col-md-8 col-sm-offset-2">
    <div class="list-group">
      <a class="list-group-item" *ngFor = "let i = index; let predmet of predmeti | paginate: { itemsPerPage: 2, currentPage: p }">
            <div class="media col-md-3">
                <!-- <figure class="pull-left">
                    <img class="media-object img-rounded img-responsive"  src="assets/vozilo/vozilo{{i+1}}.jpg" alt="placehold.it/350x250" />
                </figure> -->
            </div>
            <div class="col-md-6">
                  <h4 class="list-group-item-text">Sifra: {{predmet.sifraPredmeta}}</h4>
                  <h4 class="list-group-item-text">Opis: {{predmet.opis}}</h4>
            </div>
            <div class="col-md-3 text-center centered">
              <button  class="btn btn-default btn-lg btn-block" (click)="updateSubject(predmet.id)">Izmeni</button>
              <button  class="btn btn-default btn-lg btn-block" (click)="deleteSubject(predmet.id)">Obrisi</button>
            </div>
      </a>
    </div>
    <div class="item col-lg-10 col-lg-10" style="width: 100%; text-align: center;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
